@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gideon+Roman&family=Mystery+Quest&display=swap');
/* we are creating the family here, so only the name of the single font is required */
@font-face {
    font-family: "BRAILLE";
    src: url('../Fonts/BRAILLE.ttf') format('truetype');
    font-style: normal;
 }


 