
/*background, body, body font*/ 

body{
background-color: #F0E7DA;
display: contents; 
justify-content: center;
align-items: center;
overflow: hidden;

}



/*Containers*/
.container {
   background-color: white;
   width: 600px;
   margin: auto;
   padding: 20px;
   border: 4px solid #E5CBC1;
}
.container2 {
   font-family: 'BRAILLE', 'Times New Roman', Times, serif;
   background-color: white;
   width: 600px;
   margin: auto;
   padding: 20px;
   border: 4px solid #E5CBC1;

}


p {
   font-family:Georgia, 'Times New Roman', Times, serif;
}

.braille {
   font-family: 'BRAILLE', 'Times New Roman', Times, serif; 
   text-align:center;
}


/*Pseudo-Element*/ 
.P:first-of-type::first-letter {
color: #ffa382;
font-family: cursive; 
font-size: larger;
}




/*Headings*/





h4{
   font-weight: lighter;
   text-align:center;
}

/*Paragraphs Spacing*/
#Spacing {
   word-spacing: .4em;
 }

 /*Paragraph indentation*/
 #Indent {
   text-indent: 1.5em;
 }



/*Author Link*/
.element-1 { 
    font-size: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
 }
 a:link {
    color: #0a0908;
    text-decoration: none;
 }
 
 a:visited {
    color: rgb(206, 38, 38);
    text-decoration: none;
 }
 
 a:hover {
    color: #e61364;
    font-style: italic;
 }



 /*Toggle Switch*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:'Times New Roman', Times, serif;
    background-color: #F0E7DA; 
    
 }

.check {
   position: relative;
   width: 50px ;
}
.check:before{
   content:''; 
   position: absolute;
   width: 50px;
   height:25px;
   background: #333;
   border-radius: 25px;
   
}

.content.contentBraille{
   display : none; 
}

.check:checked:before {
   background:#BA494B
}

.check:after{
   content:''; 
   position: absolute;
   left: 0px; 
   width: 25px;
   height:25px;
   background: #fff;
   border-radius: 25px;
   transition: 0.25s;
   border: 2px solid #333;
   box-sizing: border-box;

}

.check:checked:after{
   left:25px;
   border: 2px solid #BA494B;
}

.check:checked ~ .content.contentEnglish {
   display: none;

}
.check:checked ~ .content.contentBraille {
   display: block;

}

.container2 .content
 {
   display: none;
   margin-top:20px; 

 }

 .container .content.contentEnglish{
   display: block; 

 }

/*words next to Switch*/
 .en {
    color: #333;
 }
 .br {
   color:#BA494B;
 }

  